{% extends 'MiiGameBundle:Entrada:layout.html.twig' %}
{% block scripts %}
	$(".easy").click(function(){
		$(".normal").removeClass("disabled");
		$(".hard").removeClass("disabled");
		$(".easy").addClass("disabled");
	});
	$(".normal").click(function(){
		$(".easy").removeClass("disabled");
		$(".hard").removeClass("disabled");
		$(".normal").addClass("disabled");
	});
	$(".hard").click(function(){
		$(".normal").removeClass("disabled");
		$(".easy").removeClass("disabled");
		$(".hard").addClass("disabled");
	});
{% endblock %}
{% block body %}
<div class="cointainer"> 
	<div id="slider-wrapper"> 
	<div style="margin-left: 110px"><h3>Selecciona un nivel y empieza a jugar</h3></div>
                <ul id="slider"> 
                    <!-- Diapositiva 1 --> 
                    <li class="slide">
                        <ul class="niveles">
					{% for level in easylevels %}
					
					<li><a class="btn punch" href="{{ path('playlevel', { 'level' : level.id }) }}">{{ level.id }}</a></li>
					{% if loop.index is divisibleby(5)  %}<div style="clear:both"></div>{% endif %}
					{% endfor %}
					
				<div style="clear:both"></div>
						</ul>
					</li>
                    <!-- Diapositiva 1 --> 
                    <li class="slide">
                        <ul class="niveles">
					{% for level in normallevels %}
					
					<li><a class="btn punch">{{ level.id }}</a></li>
					{% if loop.index is divisibleby(5)  %}<div style="clear:both"></div>{% endif %}
					{% endfor %}
					
				<div style="clear:both"></div>
						</ul>
					</li>
                    <!-- Diapositiva 1 --> 
                    <li class="slide">
                        <ul class="niveles">
					{% for level in hardlevels %}
					
					<li><a class="btn punch">{{ level.id }}</a></li>
					{% if loop.index is divisibleby(5)  %}<div style="clear:both"></div>{% endif %}
					{% endfor %}
					
				<div style="clear:both"></div>
						</ul>
					</li>
				</ul>
				
				<div style="clear:both"></div>
	<div style="margin-left: 110px"><h3>Selecciona el nivel de dificultad</h3></div>

				<div class="botonera">
				<a class="btn success large easy disabled">Facil</a>
				<a class="btn primary large normal">Normal</a>
				<a class="btn danger large hard">Dificil</a>
				</div>
	</div>
</div>
{% endblock %}