<html>
	<head>
		<title>Juego</title>
		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">
		<link rel="stylesheet" href="{{ asset('bundles/miigame/css/layout.css') }}">
	</head>
	<body>
		Willkoomen
	</body>
</html>