<html>
	<head>
	<TITLE>El juego de encontrar las 3 diferencias</TITLE>
<META NAME="subject" CONTENT="Games, Entertainment, Social, Facebook">
<META NAME="Description" CONTENT="Descubre las diferencias en el menor tiempo posible. Se llega a poner realmente difícil!">
<META NAME="Classification" CONTENT="Social game">
<META NAME="Keywords" CONTENT="juego, diferencias, 3, encontrar, jugar, diversion, entretenimiento, facebook, social, clasico">
<META NAME="Geography" CONTENT="Spain">
<META NAME="Language" CONTENT="Spanish">
<META HTTP-EQUIV="Expires" CONTENT="never">
<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
<META NAME="Copyright" CONTENT="Many-Few.com">
<META NAME="distribution" CONTENT="Global">
<META NAME="Robots" CONTENT="INDEX,FOLLOW">

		<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.2.0.min.css">
		<link rel="stylesheet" href="{{ asset('bundles/miigame/css/layout.css') }}">
		<meta >
        <script src="http://code.jquery.com/jquery-1.6.3.min.js"></script> 
        <script> 
            $(function(){
                
                $(".easy").click(function(){
                    
                    $("#slider").animate({'margin-left' : '0px'});
                });
                
                $(".normal").click(function(){
                    
                    $("#slider").animate({'margin-left' : '-740px'});
                });
                
                $(".hard").click(function(){
                    
                    $("#slider").animate({'margin-left' : '-1480px'});
                });
                
                {% block scripts %}
                {% endblock %}
                
            })
        </script> 


	</head>
	<body>
	<div id="header">
		<img style="float:left; margin: 10px;" src="{{ asset('bundles/miigame/images/icon.png') }}" height="50px"> <h2 style="float:left; margin-left: 10px">Busca las 3 diferencias </h2>
		<div style="float:right;">
			<div id="fb-root"></div>
<script>(function(d){
  var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
  js = d.createElement('script'); js.id = id; js.async = true;
  js.src = "//connect.facebook.net/en_US/all.js#appId=145597308865831&xfbml=1";
  d.getElementsByTagName('head')[0].appendChild(js);
}(document));</script>
<div class="fb-like" data-href="http://apps.facebook.com/buscalasdiferencias/" data-send="true" data-width="300" data-show-faces="true"></div>
		</div>
		<div>
			<a class="btn primary large" href="http://mallify.com{{ path('levels') }}" target="_blank"><img src="{{ asset('bundles/miigame/images/iphone.png') }}" height="22px"> Version para iPhone</a>
		</div>
		<div style="clear:both"></div>
	</div>
		{% block body %}
		{% endblock %}
	</body>
</html>