
#slider-wrapper { overflow: hidden; width: 740px; background-image: url("../images/grid1.jpg");}
#slider { width: 8000px; padding: 0px; margin: 0px; }
#slider li.slide { float:left; display:block; width: 740px; padding: 0px; margin: 0px; }
.niveles{ width: 740px; margin: 20px; margin-left: 110px; }
.niveles li { float: left; list-style-type: none; margin: 15px; }
.niveles li a { float: left; }

a.punch {
    background: #4162a8;
    border-top: 1px solid #38538c;
    border-right: 1px solid #1f2d4d;
    border-bottom: 1px solid #151e33;
    border-left: 1px solid #1f2d4d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -ms-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -o-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    color: #fff;
    font: bold 20px "helvetica neue", helvetica, arial, sans-serif;
    line-height: 1;
    margin-bottom: 10px;
    padding: 10px 0 12px 0;
    text-align: center;
    text-shadow: 0px -1px 1px #1e2d4d;
    width: 70px;
    height: 40px;
    font-size: 32px;
    -webkit-background-clip: padding-box; }
a.punch:hover {
    -webkit-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -moz-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -ms-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -o-box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 0px 20px 1px #87adff, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    cursor: pointer; }
a.punch:active {
    -webkit-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    -ms-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    -o-box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0 1px 0 #1d2c4d, 0 2px 0 #1f3053, 0 4px 3px 0 #111111;
    margin-top: 1px;
 }

a.punch.normalcolor {

    -webkit-box-shadow: inset 0 1px 10px 1px #FF0, 0px 1px 0 #0d2c1d, 0 6px 0px #551053, 0 8px 4px 1px #111111;
    -moz-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -ms-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    -o-box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;
    box-shadow: inset 0 1px 10px 1px #5c8bee, 0px 1px 0 #1d2c4d, 0 6px 0px #1f3053, 0 8px 4px 1px #111111;

}

/* botones */
.botonera { padding: 10px; /* box-shadow: 0px 0px 20px black; background-color: #EEE; */ padding-left: 105px; margin-bottom: 30px;}
.botonera a.btn { margin: 15px; padding: 20px; min-width: 100px; text-align: center; }

#imageholder { cursor: pointer;  width: 700px; min-height: 400px; margin: 20px; box-shadow: 0px 0px 10px #333; background-repeat: no-repeat; float:left; display: block; position: relative;  }
#imageholder .rmv {  float: left; position: absolute;	 }

#status { width: 220px; margin-left: 50px; float:left; }
#timeslider { width: 380px; float:left; margin-bottom: 10px; overflow: hidden; }
#loadslider { width: 380px; height: 8px; float:left; margin: 30px; margin-left: 150px; }
#loader { position: absolute; width: 740px; height: 600px; background-color: #333; z-index: 999; text-align: center; font-size: 28px; color: white; text-shadow: 1px 1px 0px black;}
#statusbar { background-color: white; box-shadow: 0px 0px 10px black;}

#startbutton { margin-top: 10px; width: 280px; font-size: 16px; padding: 20px;}
#header { display: block; width: 740px; padding: 5px; background-color: #EEE; box-shadow: 0px 0px 3px black; }